#wrapper {
    max-width: 1280px;        
    margin: 0 auto;
}

h1 {
    color: #063752;
}

h2 {
    color: #1C1C1C;
}

h3 {
    color: #0065A0;
}

.top {
    height: 100px;      
    background-color: #E6E6E6;
}

header {
    float: left;
    width: 20%;
}


nav {
    float: right;
    text-align: right;
    width: 80%;
}

nav li {
    display: inline;
}

.middle {
    min-height: 600px;
}  

main {
   float: left;
   width: 65%;
   background-color: #EFEFEF;
}


aside {
    float: right;
    width: 35%;
    background-color: #6B6B6B;
}



footer {
    height: 40px;
    background-color: #E6E6E6;
}

.footer-left {
    float: left;     

}


.footer-right {        
    float: right;     
}
