#wrapper {
    max-width: 1280px;        
    margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #063752;
}

h2 {
    color: #1C1C1C;
}

h3 {
    color: #0065A0;
}

h1, h2, h3, p, ul.bolagsfakta {
	margin: 20px;}

nav a {
	margin: 20px;
}
a:link, a:visited {color: #063752; 
                   text-decoration: none;
		   font-weight: bold
}

a:hover {color: #063752;
         text-decoration: underline;
}
a:active {color: #2D2D2D;
           text-decoration: underline;}

.top {
    height: 100px;      
    background-color: #E6E6E6;
}

header {
    float: left;
    width: 20%;
}

header img {
	margin-left: -19px;
}


nav {
    float: right;
    text-align: right;
    width: 80%;
}

nav li {
    display: inline;
}


ul.brodsmulor {
  padding: 10px 16px;
  list-style: none;
}

ul.brodsmulor li {
  display: inline;
}

ul.brodsmulor li+li:before {
  padding: 8px;
  content: "/\00a0";
}

.middle {
	height: 600px;
	overflow: auto;
}  

main {
   float: left;
   width: 65%;
   background-color: #EFEFEF;
 
   
}

.stretch {
	width:100%;
}


aside {
    float: right;
    width: 35%;
    background-color: #6B6B6B;
    color: #EFEFEF;
}



footer {
    height: 40px;
    background-color: #E6E6E6;
}

.footer-left {
    float: left;     

}


.footer-right {        
    float: right;     
}
